@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    margin-top: 50px;
    gap: 40px;
}

.album-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover {
    max-width: 300px;
    max-height: 300px;
}

.album-meta {
    margin-top: 10px;
    text-align: center;
}

.song-list {
    width: 600px;
    max-height: 500px;
    overflow-y: auto;
}

.song {
    background-color: #00000077;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 10px;
}

.song:hover {
    background-color: #f265249c;
}

.song.playing {
    background-color: #f26424;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.player-controls {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
}

.progress-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 10px 0;
  }
  
  .time-display {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 4px;
    padding: 0 5px;
  }
  
  .progress-container {
    background-color: #00000049;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .progress-bar {
    background-color: #eb2326;
    height: 100%;
    width: 0%;
  }

.controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    background: #00000077;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 25%;
}

button:hover {
    background: #4686c6;
}
